#formbase {
    width:50% !important;
    min-width:1070px;
    margin-top:-30px;
}
@media screen and (max-width: 1540px) {
    #formbase {
        margin-left: 235px;
    }
}
div.documentHeaderInfo {
    background: #f0eef0;
    border-radius: 10px;
    border: 1px dotted #aaa;
    padding: 10px;
    width:14vw;
    min-width:210px;
    height:130px;
    position:fixed;
    left:5px;
    margin-top:-20px;
    z-index:999;
}


div#documentInput table:nth-of-type(1) div.title{
    font-size:1.6rem;
    font-weight:bold;
    margin-bottom:16px;
}

/*テーブルセル*/
td.ftd_title {
    border-right:solid 1px #aaa;
    height:30px;
}
td.ftd_title,td.ftd_comment,td.ftd_labelcont {
    padding:10px 10px !important;
}
td.ftd_cont {
    padding:10px 10px !important;
}
td.ftd_comment {
    border-left :solid 1px #F4F4F4;
}

/*「必須」*/
td.ftd_title span {
 position:relative;
 font-size:0% !important;
}
td.ftd_title span::after {
    text-align: center;
    vertical-align: inherit;
    display: inline-block;
    content:"必須";
    font-size:11px;
    width: 30px;
    padding:3px 3px;
    color:white;
    background:#BF0562;
    border-radius: 5px;
    margin-left:10px;
    border:solid 1px #BF0562ed;
}

/*プルダウン*/
select.fidSelect {
    padding:0 10px;
}
/*チェックボックス*/
/* td.ftd_cont[title="check"] {
    
} */
td.ftd_cont[title="check"] div.fcont {
    width:20px !important;
}
td.ftd_cont[title="check"] + td.ftd_comment {
    vertical-align: middle;
}

.fidAttachView {
    width:100% !important;
}

.attachmentFilePreviewLink:has(div.fcont_dsp) {
    width:100% !important;
}